@import url('https://fonts.cdnfonts.com/css/friz-quadrata-std');

.hs-card-img-container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.results-end-message {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}


// Saving this for individual card pages.
// animation: float 3s ease-in-out infinite;
// @keyframes float {
// 	0% {
//         transform: scale(1.1) translateY(-5px);
//       }
//       50% {
//         transform: scale(1.1) translateY(5px);
//       }
//       100% {
//         transform: scale(1.1) translateY(-5px);
//       }
// }