.hs-card-wrapper {
    width: 260px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hs-card {
    object-fit: cover;
    width: 260px;
    height: 340px;
    transition: 0.3s;

    &:hover {
        z-index: 10;
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 16px rgba(113, 247, 36, 0.925));
    }
}